:root {
  --color-primary: #42567A;
  --border-color: #E2E5EC;
  --color-blue: #3d3dff;
  --main-background: #F4F5F9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: var(--color-primary);
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: var(--main-background);
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
